/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 725px;
  width: 100%;
  padding: 4rem 0;
  color: white;
  overflow: hidden;
  background: rgb(21, 33, 107);
  background-image: url(../../static/img/homepage/hero-image.jpg);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
}

html[data-theme='dark'] {
  --ifm-background-color: #000000;
  --ifm-background-surface-color: #000000;
  --ifm-footer-background-color: #000000;
}

.heroBanner h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 150px;
}

.heroBanner h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  height: 60px;
  text-align: left;
  max-width: 390px;
}

.buttons {
  display: flex;
  text-shadow: none;
  width: 251px;
  height: 50px;
  border-radius: 10px;
}

.buttons a {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  line-height: 35px;
}

.subHeader {
  background-color: #131419;
  padding: 10px 0;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.subText {
  padding-top: 5px;
}

.discordButton {
  background-color: #7289da;
  background-image: url(../../static/img/join-us-white.svg);
  background-repeat: no-repeat;
  background-size: 76% 76%;
  background-position: 50% 62%;
  display: flex;
  align-items: center;
  height: 30px;
  width: 6rem;
  border-radius: 0.3rem;
  margin-right: 20px;
  margin-top: 7px;
  cursor: pointer;
  border-width: 0;
}

.discordButton:hover {
  background-color: #819ff8;
  transition: transform 0.25s ease-in-out;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.twitterFrame {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-left: 5px;
}

.githubStar {
  display: flex;
  align-items: center;
  padding: 0px;
  padding-bottom: 7px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
  height: 37px;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .buttons a {
    font-size: 14px;
  }

  .twitterFrame {
    display: block;
    width: 100%;
    float: none;
  }
}
