/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 725px;
  width: 100%;
  padding: 4rem 0;
  color: white;
  overflow: hidden;
  background: rgb(21, 33, 107);
  background-image: url(../../static/img/homepage/hero-image.jpg);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
}

html[data-theme='dark'] {
  --ifm-background-color: #000000;
  --ifm-background-surface-color: #000000;
  --ifm-footer-background-color: #000000;
}

.heroBanner h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
}

.heroBanner h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  width: 473px;
  height: 60px;
  text-align: left;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.githubStar {
  margin: 0 1rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  text-shadow: none;
  width: 251px;
  height: 50px;
  border-radius: 10px;
}

.buttons a {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  line-height: 25px;
}

.subheader {
  background-color: #131419;
  padding: 10px 0;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  text-align: left;
  width: 100%;
}
/* 
.subButtons {
  display: flex;
  padding: 0 10px;
  position: relative;
  overflow: hidden;
  background: #131419;
} */

.subButtonsText {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}

/* .subButtonsText b {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
} */

.discordButton {
  background-color: #718cd8;
  background-image: url(../../static/img/join-us-light.png);
  background-repeat: no-repeat;
  width: 141px;
  height: 45px;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  margin-right: 15px;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  text-align: left;
}

.discordButton:hover {
  background-color: #819ff8;
}

.twitterButton {
  background-color: #1e9eee;
  background-image: url(../../static/img/twitter-follow.png);
  background-repeat: no-repeat;
  width: 199px;
  height: 45px;
  border-radius: 15px;
  cursor: pointer;
}

.twitterButton:hover {
  background-color: #43b1f6;
}

.githubButton {
  background-color: #131419;
  background-image: url(../../static/img/github-stars.png);
  background-repeat: no-repeat;
  /* width: 300px; */
  height: 45px;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 0 0 1rem;
}

.githubButton:hover {
  background-color: #414c5c;
  cursor: pointer;
}

/* .col {
  padding: 0;
  color: red;
} */
