/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.heroBanner {
  height: 420px;
  width: auto;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  background-color: #000000;
  background-image: url(../../static/img/showcase/showcase-illustration.png);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
}

html[data-theme='dark'] {
  --ifm-background-color: #000000;
  --ifm-background-surface-color: #000000;
  --ifm-footer-background-color: #000000;
}

.heroBanner h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
}

.heroBanner h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
}

.githubStar {
  margin: 0 1rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.button {
  color: #ffffff;
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: radial-gradient(100% 100% at 1.07% 0%, #7633e5 0%, #5d71e5 100%);
}

.button:focus {
  outline: none;
}

.button .button--secondary {
  background-color: #7633e5;
  color: #ffffff;
  width: 500px;
}

.button:hover {
  background: #7633e5;
  color: #ffffff;
  text-decoration: none;
  border: 1 px solid #000000;
}

.button a {
  color: #ffffff;
  text-decoration: none;

  /* T/T2 */
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 100px;
  font-size: 16px;
  line-height: 25px;
  /* identical to box height, or 156% */
  color: #ffffff;
}

.storeButton {
  width: 115px;
  height: 30px;
  margin: 0;
  margin-right: 10px;
  display: inline;
  color: #000000;
  padding: 3px 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: regular;
  background: #e6e6e6;
}

[data-theme='dark'] .storeButton a {
  color: white;
}

[data-theme='dark'] .storeButton {
  background-color: #23272f;
}

[data-theme='dark'] .storeButton:hover {
  background-color: #5a3fc6;
}

.storeButton:focus {
  outline: none;
}

.storeButton:hover {
  background-color: #5a3fc6;
  transition: transform 0.25s ease-in-out;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.storeButton:hover a {
  color: #ffffff;
}

.storeButton a {
  width: 225px;
  height: 30px;
  color: #181a20;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

.padding-vert--md {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.showcase {
  width: 100%;
  margin: auto;
  height: auto;
  align-content: center;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 966px) {
  .showcase {
    padding: 2rem;
  }
}

.showcaseSection {
  box-sizing: border-box;
  flex-basis: auto;
  flex-grow: 1;
  height: 300px;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 5%;
  margin: 80px 10px 50px 50px;
  width: 310px;
}

[data-theme='dark'] .showcaseSection {
  border: 1px solid #131419;
}

.showcaseSection:hover {
  box-shadow: 0px 12px 12px #f2eeeee8;
  background: radial-gradient(100% 100% at 1.07% 0%, rgba(255, 99, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  transition: transform 0.25s ease-in-out;
}

[data-theme='dark'] .showcaseSection:hover {
  box-shadow: none;
}

.showcaseSection .showcaseCard {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: blue;
  transition: transform 0.25s ease-in-out;
}

.showcaseContent {
  padding: 8px 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.showcaseSection h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 25px -20px 12px -40px;
  padding: 0 40px 0;
  text-align: left;
}

.logos {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px 20px 16px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddaa77;
  transition: background-color 0.2s ease-in;
}

.main:hover {
  cursor: pointer;
  background-color: #886644;
  transition: background-color 0.2s ease-in;
}

.navbar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #886644;
  width: 100%;
  padding: 1em 0;
}

/* .active,
.navbar__item .navbar__link .header-showcase-link {
  color: #048fc0;
} */

.content {
  padding: 0 1em 1em 1em;
  color: white;
}

.cardBox {
  padding: 30px 30px 30px 30px;
  width: 410px;
  height: 315px;
}

.iconBox {
  display: flex;
  justify-content: left;
  background: rgb(13, 9, 9), transparent;
  width: 100%;
  overflow: visible;
}

.iconBackground {
  filter: blur(28px);
  position: absolute;
  opacity: 0.16;
  transform: scale(1.38);
  background-color: white;
}

img.iconBackground {
  left: 77.32px;
  right: 75.61%;
  top: 9.52%;
  bottom: 68.25%;
}

.features {
  display: flex;
  align-items: center;
  padding: 5rem 0;
  width: 100%;
}

.featureImage {
  height: 64px;
  width: 64px;
  stroke: white;
  stroke-width: 2px;
}

.sectionContainer {
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}
